<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.powere2e.sco.interfaces.dao.datamaintenance.inventorydata.concessionreceive.ConcessionReceiveDao">
	<resultMap
		type="com.powere2e.sco.model.datamaintenance.inventorydata.concessionreceive.ConcessionReceive"
		id="concessionReceiveMap">
		<result property="merchandiseName" column="merchandiseName" />
		<result property="supplierName" column="supplierName" />
		<result property="dxRoleName" column="dxRoleName" />
		<result property="dlRoleName" column="dlRoleName" />
		<result property="centreName" column="centreName" />
		<result property="smallName" column="smallName" />
		<result property="detailName" column="detailName" />
		<result property="fineName" column="fineName" />

		<result property="merchandiseCode" column="merchandiseCode" />
		<result property="specification" column="specification" />
		<result property="orderTaker" column="orderTaker" />
		<result property="supplierCode" column="supplierCode" />
		<result property="concessionReceiveCount" column="concessionReceiveCount" />
		<result property="applicationDate" column="applicationDate" />
		<result property="giveAwayCount" column="giveAwayCount" />
		<result property="purchasePrice" column="purchasePrice" />
		<result property="giveAwayMoney" column="giveAwayMoney" />
		<result property="remarks" column="remarks" />
		<result property="recordCount" column="record_count" />
	</resultMap>
	<!-- 查询让步接收(可分页) -->
	<select id="searchConcessionReceive" resultMap="concessionReceiveMap">
		SELECT
		<if test="page_count == null">
			d.specification specification,
			d.concession_receive_count
			concessionReceiveCount,
			d.application_date applicationDate,

			m.merchandise_code merchandiseCode,
			m.merchandise_name
			merchandiseName,

			s.supplier_code supplierCode,
			s.supplier_name
			supplierName,

			dx.role_name dxRoleName,
			dl.role_name dlRoleName,

			ct.centre_type_name centreName,
			sm.small_type_name smallName,

			dt.detail_type_name detailName,
			ft.fine_type_name fineName
		</if>
		<if test="page_count != null">
			count(1) AS record_count
		</if>
		FROM concession_receive d <!-- 让步接收表 -->
		LEFT JOIN merchandise m ON d.merchandise_code = m.merchandise_code AND d.supplier_code = m.supplier_code<!-- 商品表 -->
		LEFT JOIN supplier s ON m.supplier_code = s.supplier_code <!-- 供应商表 -->
		LEFT JOIN intention_supplier_merchandise ism ON (m.merchandise_code =
		ism.merchandise_code AND s.supplier_code = ism.supplier_code) <!-- 商品,意向品关联表 -->
		LEFT JOIN merchandise_intention mi ON ism.intention_code = mi.intention_code <!-- 意向品表 -->
		LEFT JOIN merchandise_role r ON r.merchandise_code = m.merchandise_code <!-- 商品角色关联表 -->
		LEFT JOIN merchandise_dx_role dx on dx.role_code = r.dx_role_code <!-- 定性角色表 -->
		LEFT JOIN merchandise_dl_role dl on dl.role_code = r.dl_role_code <!-- 定量角色表 -->
		LEFT JOIN merchandise_centre_type ct ON m.centre_type_code = ct.centre_type_code <!-- 中分类 -->
		LEFT JOIN merchandise_small_type sm ON m.small_type_code = sm.small_type_code <!-- 小分类 -->
		LEFT JOIN merchandise_detail_type dt ON m.detail_type_code = dt.detail_type_code <!-- 明细类 -->
		LEFT JOIN merchandise_fine_type ft ON mi.fine_type_code = ft.fine_type_code <!-- 细分类 -->
		<where>
			1=1
			<if test="merchandiseCode != null and merchandiseCode!=''">
				AND UPPER(m.merchandise_code) LIKE UPPER('%'||#{merchandiseCode}||'%')
			</if>
			<if test="merchandiseName != null and merchandiseName != ''">
				AND UPPER(m.merchandise_name) like UPPER('%'||#{merchandiseName}||'%')
			</if>
			<if test="supplierCode != null and supplierCode != ''">
				AND UPPER(s.supplier_code) like UPPER('%'||#{supplierCode}||'%')
			</if>
			<if test="supplierName != null and supplierName != ''">
				AND UPPER(s.supplier_name) like UPPER('%'||#{supplierName}||'%')
			</if>
			<if test="dlRoleCode != null and dlRoleCode != ''">
				AND UPPER(dl.role_code) like UPPER(#{dlRoleCode})
			</if>
			<if test="dxRoleCode != null and dxRoleCode != ''">
				AND UPPER(dx.role_code) like UPPER(#{dxRoleCode})
			</if>
			<if test="centreTypeCode != null and centreTypeCode != ''">
				AND UPPER(m.centre_type_code) like UPPER(#{centreTypeCode})
			</if>
			<if test="smallTypeCode != null and smallTypeCode != ''">
				AND UPPER(m.small_type_code) like UPPER(#{smallTypeCode})
			</if>
			<if test="detailTypeCode != null and detailTypeCode != ''">
				AND UPPER(m.detail_type_code) like UPPER(#{detailTypeCode})
			</if>
			<if test="fineTypeCode != null and fineTypeCode != ''">
				AND UPPER(ft.fine_type_code) like UPPER(#{fineTypeCode})
			</if>
			<if test="marStartDate != null">
				AND d.application_date >= #{marStartDate}
			</if>
			<if test="marEndDate != null">
				AND d.application_date <![CDATA[<]]>(#{marEndDate}+1)
			</if>
			<if test="SearchMerchandiseCode != null and SearchMerchandiseCode!=''">
				AND UPPER(m.merchandise_code) = #{SearchMerchandiseCode}
			</if>
			<if test="SearchSupplierCode != null and SearchSupplierCode != ''">
				AND UPPER(s.supplier_code) = #{SearchSupplierCode}
			</if>
			<if test="SearchApplicationDate != null">
				AND d.application_date = #{SearchApplicationDate}
			</if>
		</where>
		<if test="page_count == null">
			<if test="app_orderby !=null">
    			ORDER BY ${app_orderby}
    		</if>
    		<if test="app_orderby == null">
			    ORDER BY s.supplier_code ASC,d.application_date DESC
			</if>
		</if>
	</select>

	<!-- 增加让步接收 -->
	<insert id="saveConcessionReceive" parameterType="hashmap">
		INSERT INTO
		concession_receive(merchandise_code,specification,order_taker,supplier_code,concession_receive_count,application_date,give_away_count,purchase_price,give_away_money,remarks,created,createby)
		<foreach collection="insertList" item="item" separator="union all">
			(
			SELECT
			#{item.merchandiseCode},#{item.specification},#{item.orderTaker},#{item.supplierCode},#{item.concessionReceiveCount},#{item.applicationDate},#{item.giveAwayCount},#{item.purchasePrice},#{item.giveAwayMoney},#{item.remarks},#{app_created},#{app_createby}
			FROM
			dual
			)
		</foreach>
	</insert>

	<!-- 修改让步接收 -->
	<update id="updateConcessionReceive" parameterType="hashmap">
		UPDATE
		concession_receive
		SET
		merchandise_code=#{merchandiseCode},
		specification=#{specification},
		order_taker=#{orderTaker},
		supplier_code=#{supplierCode},
		concession_receive_count=#{concessionReceiveCount},
		application_date=#{applicationDate},
		give_away_count=#{giveAwayCount},
		purchase_price=#{purchasePrice},
		give_away_money=#{giveAwayMoney},
		remarks=#{remarks},
		updated=#{app_updated},
	   	updateby=#{app_user_id}
		WHERE
		merchandise_code=#{merchandiseCode}
		AND supplier_code=#{supplierCode}
		AND application_date=#{applicationDate}
	</update>
</mapper>