<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.powere2e.sco.interfaces.dao.peripheral.sap.MerchandisePurchasePriceDao">
	<resultMap type="com.powere2e.sco.model.peripheral.sap.MerchandisePurchasePrice" id="merchandisePurchasePriceMap">
		<result property="merchandiseCode" column="merchandiseCode"/>
		<result property="supplierCode" column="supplierCode"/>
		<result property="warehouseCode" column="warehouseCode"/>
		<result property="purchasePrice" column="purchasePrice"/>
		<result property="priceDate" column="priceDate"/>
		<result property="syncDate" column="syncDate"/>
		<result property="createUserName" column="createUserName"/>
		<result property="updateUserName" column="updateUserName"/>
		<result property="recordCount" column="record_count" />
    </resultMap>
   
    
    <!-- 增加商品进货价格信息 --> 
	<insert id="saveMerchandisePurchasePrice" parameterType="hashmap">
		INSERT INTO merchandise_purchase_price(merchandise_code,supplier_code,warehouse_code,purchase_price,price_date,sync_date) 
    		  <foreach collection="list" item="item" index="index" separator="union all" > 
		         (
		         SELECT 
			         #{item.merchandiseCode}, 
			         #{item.supplierCode},
			         #{item.warehouseCode}, 
			         #{item.purchasePrice},
			         #{item.priceDate}, 
			         #{app_created}
		         FROM　DUAL
		         )
		     </foreach>      
    </insert>
    <!-- 增加商品销售价格的重复数据 --> 
	<insert id="saveMerchandisePurchasePriceGroup" parameterType="hashmap">
		INSERT INTO merchandise_p_price_group(merchandise_code,supplier_code,warehouse_code,purchase_price,price_date,sync_date) 
    		  <foreach collection="list" item="item" index="index" separator="union all" > 
		         (
		         SELECT 
			         #{item.merchandiseCode}, 
			         #{item.supplierCode},
			         #{item.warehouseCode}, 
			         #{item.purchasePrice},
			         #{item.priceDate}, 
			         #{app_created}
		         FROM　DUAL
		         )
		     </foreach>      
    </insert>
     <!--删除商品进货价格信息-->
    <delete id="deleteMerchandisePurchasePrice">
    	DELETE FROM merchandise_purchase_price
    </delete>
	<select id="querySameMerchandisePurchasePrice" resultMap="merchandisePurchasePriceMap">
		select
			mpp.merchandise_code merchandiseCode,
			mpp.supplier_code supplierCode,
			mpp.warehouse_code warehouseCode,
			mpp.purchase_price purchasePrice,
			mpp.price_date priceDate
		from
			Merchandise_Purchase_Price mpp
		WHERE 1=1
			AND mpp.merchandise_code = #{merchandiseCode}
			AND mpp.supplier_code = #{supplierCode}
			AND mpp.warehouse_code = #{warehouseCode}
			AND mpp.purchase_price = #{purchasePrice}
			AND mpp.price_date = (
				select
					max(mpp.price_date)
				from
					Merchandise_Purchase_Price mpp
				WHERE 1=1
					AND mpp.merchandise_code = #{merchandiseCode}
					AND mpp.supplier_code = #{supplierCode}
					AND mpp.warehouse_code = #{warehouseCode}
					AND mpp.price_date &lt; #{priceDate}
				)
	</select>
</mapper>