<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.powere2e.sco.interfaces.dao.accessoryintention.AccessoryEnquiryTechnologyDao">
	<resultMap type="com.powere2e.sco.model.accessoryintention.AccessoryEnquiryTechnology" id="accessoryEnquiryTechnologyMap">
		<result property="technologyCode" column="technologyCode"/>
		<result property="enquiryCode" column="enquiryCode"/>
		<result property="technologyName" column="technologyName"/>
		<result property="technologyInfo" column="technologyInfo"/>
		<result property="createUserName" column="createUserName"/>
		<result property="updateUserName" column="updateUserName"/>
		<result property="recordCount" column="record_count" />
    </resultMap>
    <!-- 查询询价单原材料(可分页)-->
    <select id="searchAccessoryEnquiryTechnology" resultMap="accessoryEnquiryTechnologyMap">
    	SELECT  
    	<if test="page_count == null">
       		t.technology_code technologyCode,t.enquiry_code enquiryCode,t.technology_name technologyName,t.technology_info technologyInfo
	   </if>
    	<if test="page_count != null">
       		count(1) AS record_count
    	</if>
      		FROM accessory_enquiry_technology t
    	<where>
    		1=1
	    	<if test= "technologyCode != null and technologyCode!=''">
			AND t.technology_code = #{technologyCode}
			</if>
	    	<if test= "enquiryCode != null and enquiryCode!=''">
			AND t.enquiry_code =#{enquiryCode}
			</if>
	    	<if test= "technologyName != null and technologyName!=''">
			AND UPPER(t.technology_name) LIKE UPPER('%'||#{technologyName}||'%')
			</if>
	    	<if test= "technologyInfo != null and technologyInfo!=''">
			AND UPPER(t.technology_info) LIKE UPPER('%'||#{technologyInfo}||'%')
			</if>
    	</where>
    	<if test="page_count == null">
    		<if test="app_orderby !=null">
    			ORDER BY ${app_orderby}
    		</if>
    	</if>
    </select>
    
    <!-- 根据主键查询某个询价单原材料(可分页)-->
    <select id="loadAccessoryEnquiryTechnology" resultMap="accessoryEnquiryTechnologyMap">
    	SELECT  
    	<if test="page_count == null">
       		t.technology_code technologyCode,t.enquiry_code enquiryCode,t.technology_name technologyName,t.technology_info technologyInfo
       		
    	</if>
    	<if test="page_count != null">
       		count(1) AS record_count
    	</if>
      		FROM accessory_enquiry_technology t
    	<where>
    		1=1
	    	<if test= "technologyCode != null and technologyCode!=''">
			AND  t.TECHNOLOGY_CODE = #{technologyCode}
			</if>
    	</where>
    	<if test="page_count == null">
    		<if test="app_orderby !=null">
    			ORDER BY ${app_orderby}
    		</if>
    	</if>
    </select>
    
    <!-- 增加询价单原材料 --> 
	<insert id="saveAccessoryEnquiryTechnology" parameterType="hashmap">
		INSERT INTO accessory_enquiry_technology(technology_code,enquiry_code,technology_name,technology_info) 
			 VALUES(s_accessory_enquiry_technology.nextval,#{enquiryCode},#{technologyName},#{technologyInfo})
    </insert>
    <!-- 修改询价单原材料  -->
    <update id="updateAccessoryEnquiryTechnology" parameterType="hashmap">
		UPDATE	
				accessory_enquiry_technology	
		   SET	
		   		enquiry_code=#{enquiryCode},
		   		technology_name=#{technologyName},
		   		technology_info=#{technologyInfo}		   		
		 WHERE	
		 		TECHNOLOGY_CODE=#{technologyCode}
    </update>
    <!-- 删除询价单原材料 -->
    <delete id="deleteAccessoryEnquiryTechnology" parameterType="hashmap">
        DELETE FROM 
        			accessory_enquiry_technology 
        WHERE 
        			ENQUIRY_CODE=#{enquiryCode} <!--AND client_id=#{app_user_clientID}-->
    </delete>
</mapper>