<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.powere2e.sco.interfaces.dao.accessoryintention.AccessoryQuotedScanDao">
	<resultMap type="com.powere2e.sco.model.accessoryintention.AccessoryQuotedScan" id="accessoryQuotedScanMap">
		<result property="quotedCode" column="quotedCode"/>
		<result property="enquiryCode" column="enquiryCode"/>
		<result property="enquiryName" column="enquiryName"/>
		<result property="intentionCode" column="intentionCode"/>
		<result property="intentionSupplierCode" column="intentionSupplierCode"/>
		<result property="supplierCode" column="supplierCode"/>
		<result property="supplierName" column="supplierName"/>
		<result property="intentionSupplierName" column="intentionSupplierName"/>
		<result property="quotedDate" column="quotedDate"/>
		<result property="path" column="path"/>
		<result property="created" column="created"/>
		<result property="createby" column="createby"/>
		<result property="updated" column="updated"/>
		<result property="updateby" column="updateby"/>
		<result property="createUserName" column="createUserName"/>
		<result property="updateUserName" column="updateUserName"/>
		<result property="recordCount" column="record_count" />
    </resultMap>
    <!-- 查询辅料报价单-扫描版(可分页)-->
    <select id="searchAccessoryQuotedScan" resultMap="accessoryQuotedScanMap">
    	SELECT  
    	<if test="page_count == null">
       		t.quoted_code quotedCode,t.enquiry_code enquiryCode,e.enquiry_name enquiryName,t.intention_code intentionCode,t.intention_supplier_code intentionSupplierCode,t.quoted_date quotedDate,t.path path
       		,t.created,	t.updated ,m.intention_supplier_name intentionSupplierName,n.supplier_name supplierName
			,(select u.real_name from pub_user u where u.user_id=t.createby) as createby,
           	(select u.real_name from pub_user u where u.user_id=t.updateby) as updateby
	   </if>
    	<if test="page_count != null">
       		count(1) AS record_count
    	</if>
      		FROM accessory_quoted_scan t
      		left join ACCESSORY_INTENTION_SUPPLIER m on t.intention_supplier_code=m.intention_supplier_code
      		left join SUPPLIER n on t.intention_supplier_code=n.SUPPLIER_CODE
      		inner join INTENTION_SUPPLIER_ACCESSORY f on ((t.intention_supplier_code=f.intention_supplier_code ) and t.intention_code=f.intention_code)
      		inner join accessory_enquiry e on t.enquiry_code=e.enquiry_code
    	<where>
    		1=1
	    	<if test= "quotedCode != null and quotedCode!=''">
			AND t.quoted_code = #{quotedCode}
			</if>
	    	<if test= "enquiryCode != null and enquiryCode!=''">
			AND t.enquiry_code =#{enquiryCode}
			</if>
			<if test= "enquiryCodes != null and enquiryCodes!=''">
			AND t.enquiry_code in (${enquiryCodes})
			</if>
	    	<if test= "intentionCode != null and intentionCode!=''">
			AND t.intention_code=#{intentionCode}
			</if>
	    	<if test= "intentionSupplierCode != null and intentionSupplierCode!=''">
			AND t.intention_supplier_code=#{intentionSupplierCode}
			</if>
	    	<if test= "supplierCode != null and supplierCode!=''">
			AND t.intention_supplier_code=#{supplierCode}
			</if>
			<if test= "supplierCodes != null and supplierCodes!=''">
			AND t.intention_supplier_code in (${supplierCodes})
			</if>
			<if test= "intentionAndSupplierCode != null and intentionAndSupplierCode !=''">
			AND ( t.intention_supplier_code=#{intentionAndSupplierCode})
			</if>
	    	<if test= "quotedDate != null and quotedDate!=''">
			AND	convert(varchar,t.quoted_date,120) LIKE (#{quotedDate})
			</if>
	    	<if test= "path != null and path!=''">
			AND UPPER(t.path) LIKE UPPER('%'||#{path}||'%')
			</if>
	    	<if test= "created != null and created!=''">
			AND	convert(varchar,t.created,120) LIKE (#{created})
			</if>
	    	<if test= "createby != null and createby!=''">
			AND UPPER(t.createby) LIKE UPPER('%'||#{createby}||'%')
			</if>
	    	<if test= "updated != null and updated!=''">
			AND	convert(varchar,t.updated,120) LIKE (#{updated})
			</if>
	    	<if test= "updateby != null and updateby!=''">
			AND UPPER(t.updateby) LIKE UPPER('%'||#{updateby}||'%')
			</if>
    	</where>
    	<if test="page_count == null">
    		<if test="app_orderby !=null">
    			ORDER BY ${app_orderby}
    		</if>
    		<if test="app_orderby ==null">
    			ORDER BY t.created DESC
    		</if>
    	</if>
    </select>
    <!-- 根据主键查询某个辅料报价单-扫描版(可分页)-->
    <select id="loadAccessoryQuotedScan" resultMap="accessoryQuotedScanMap">
    	SELECT  
    	<if test="page_count == null">
       		t.quoted_code quotedCode,t.enquiry_code enquiryCode,t.intention_code intentionCode,t.intention_supplier_code intentionSupplierCode,t.quoted_date quotedDate,t.path path
       		,t.created,	t.updated 
		   ,(select u.real_name from pub_user u where u.user_id=t.createby) as createUserName,
           	(select u.real_name from pub_user u where u.user_id=t.updateby) as updateUserName
    	</if>
    	<if test="page_count != null">
       		count(1) AS record_count
    	</if>
      		FROM accessory_quoted_scan t
    	<where>
    		1=1
	    	<if test= "quotedCode != null and quotedCode!=''">
			AND  t.QUOTED_CODE = #{quotedCode}
			</if>
    	</where>
    	<if test="page_count == null">
    		<if test="app_orderby !=null">
    			ORDER BY ${app_orderby}
    		</if>
    		<if test="app_orderby ==null">
    			ORDER BY t.created DESC
    		</if>
    	</if>
    </select>
    
    <!-- 增加辅料报价单-扫描版 --> 
	<insert id="saveAccessoryQuotedScan" parameterType="hashmap">
		INSERT INTO accessory_quoted_scan(quoted_code,enquiry_code,intention_code,intention_supplier_code,quoted_date,path,created,createby) 
			 VALUES(#{quotedCode},#{enquiryCode},#{intentionCode},#{intentionSupplierCode},#{quotedDate},#{path},#{app_created},#{app_create_by})
    </insert>
    <!-- 修改辅料报价单-扫描版  -->
    <update id="updateAccessoryQuotedScan" parameterType="hashmap">
		UPDATE	
				accessory_quoted_scan	
		   SET	
		   		enquiry_code=#{enquiryCode},
		   		intention_code=#{intentionCode},
		   		intention_supplier_code=#{intentionSupplierCode},
		   		supplier_code=#{supplierCode},
		   		quoted_date=#{quotedDate},
		   		path=#{path}		   		
		 WHERE	
		 		QUOTED_CODE=#{quotedCode}
    </update>
    <!-- 删除辅料报价单-扫描版 -->
    <delete id="deleteAccessoryQuotedScan" parameterType="hashmap">
        DELETE FROM 
        			accessory_quoted_scan 
        WHERE 
        			QUOTED_CODE=#{quotedCode} <!--AND client_id=#{app_user_clientID}-->
    </delete>
</mapper>