<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.powere2e.sco.interfaces.dao.accessoryoaapplication.OaApplicationDao">
	<resultMap type="com.powere2e.sco.model.accessoryoaapplication.OaApplication" id="oaApplicationMap">
		<result property="applicationCode" column="applicationCode"/>
		<result property="applicationType" column="applicationType"/>
		<result property="applicationStatus" column="applicationStatus"/>
		<result property="oaApplicationCode" column="oaApplicationCode"/>
		<result property="oaContacts" column="oaContacts"/>
		<result property="oaApproveDate" column="oaApproveDate"/>
		<result property="oaInitiateDate" column="oaInitiateDate"/>
		<result property="applicationLink" column="applicationLink"/>
		<result property="applicationStatusDate" column="applicationStatusDate"/>
		<result property="remarks" column="remarks"/>
		<result property="created" column="created"/>
		<result property="createby" column="createby"/>
		<result property="updated" column="updated"/>
		<result property="updateby" column="updateby"/>
		<result property="createUserName" column="createUserName"/>
		<result property="updateUserName" column="updateUserName"/>
		<result property="recordCount" column="record_count" />
    </resultMap>
    <!-- 查询商品OA申请单(可分页)-->
    <select id="searchOaApplication" resultMap="oaApplicationMap">
    	SELECT  
    	<if test="page_count == null">
       		t.application_code applicationCode,t.application_type applicationType,t.application_status applicationStatus,t.oa_application_code oaApplicationCode,t.oa_contacts oaContacts,t.oa_approve_date oaApproveDate,t.oa_initiate_date oaInitiateDate,t.application_status_date applicationStatusDate,t.application_link applicationLink,t.remarks remarks
       		,t.created,	t.updated 
			,(select u.real_name from pub_user u where u.user_id=t.createby) as createUserName,
           	(select u.real_name from pub_user u where u.user_id=t.updateby) as updateUserName
	   </if>
    	<if test="page_count != null">
       		count(1) AS record_count
    	</if>
      		FROM oa_application t
    	<where>
    		1=1
	    	<if test= "applicationCode != null and applicationCode!=''">
			AND t.application_code = #{applicationCode}
			</if>
	    	<if test= "applicationType != null and applicationType!=''">
			AND t.application_type=#{applicationType}
			</if>
	    	<if test= "applicationStatus != null and applicationStatus!=''">
			AND t.application_status =#{applicationStatus}
			</if>
	    	<if test= "oaApplicationCode != null and oaApplicationCode!=''">
			AND t.oa_application_code =#{oaApplicationCode}
			</if>
	    	<if test= "oaContacts != null and oaContacts!=''">
			AND UPPER(t.oa_contacts) LIKE UPPER('%'||#{oaContacts}||'%')
			</if>
	    	<if test= "oaApproveDate != null and oaApproveDate!=''">
			AND	convert(varchar,t.oa_approve_date,120) LIKE (#{oaApproveDate})
			</if>
	    	<if test= "oaApplicationUrl != null and oaApplicationUrl!=''">
			AND UPPER(t.application_link) LIKE UPPER('%'||#{oaApplicationUrl}||'%')
			</if>
	    	<if test= "remarks != null and remarks!=''">
			AND UPPER(t.remarks) LIKE UPPER('%'||#{remarks}||'%')
			</if>
	    	<if test= "created != null and created!=''">
			AND	convert(varchar,t.created,120) LIKE (#{created})
			</if>
	    	<if test= "createby != null and createby!=''">
			AND UPPER(t.createby) LIKE UPPER('%'||#{createby}||'%')
			</if>
	    	<if test= "updated != null and updated!=''">
			AND	convert(varchar,t.updated,120) LIKE (#{updated})
			</if>
	    	<if test= "updateby != null and updateby!=''">
			AND UPPER(t.updateby) LIKE UPPER('%'||#{updateby}||'%')
			</if>
    	</where>
    	<if test="page_count == null">
    		<if test="app_orderby !=null">
    			ORDER BY ${app_orderby}
    		</if>
    		<if test="app_orderby ==null">
    			ORDER BY t.created DESC
    		</if>
    	</if>
    </select>
    
    <!-- 根据主键查询某个商品OA申请单(可分页)-->
    <select id="loadOaApplication" resultMap="oaApplicationMap">
    	SELECT  
    	<if test="page_count == null">
       		t.application_code applicationCode,t.application_type applicationType,t.application_status applicationStatus,t.oa_application_code oaApplicationCode,t.oa_contacts oaContacts,t.oa_approve_date oaApproveDate,t.application_link oaApplicationUrl,t.remarks remarks
       		,t.created,	t.updated 
		   ,(select u.real_name from pub_user u where u.user_id=t.createby) as createUserName,
           	(select u.real_name from pub_user u where u.user_id=t.updateby) as updateUserName
    	</if>
    	<if test="page_count != null">
       		count(1) AS record_count
    	</if>
      		FROM oa_application t
    	<where>
    		1=1
	    	<if test= "applicationCode != null and applicationCode!=''">
			AND  t.APPLICATION_CODE = #{applicationCode}
			</if>
    	</where>
    	<if test="page_count == null">
    		<if test="app_orderby !=null">
    			ORDER BY ${app_orderby}
    		</if>
    		<if test="app_orderby ==null">
    			ORDER BY t.created DESC
    		</if>
    	</if>
    </select>
    
    <!-- 增加商品OA申请单 --> 
	<insert id="saveOaApplication" parameterType="hashmap">
		INSERT INTO oa_application(application_code,application_type,application_status,oa_application_code,oa_contacts,oa_approve_date,application_link,remarks,created,createby) 
			 VALUES(#{applicationCode},#{applicationType},#{applicationStatus},#{oaApplicationCode},#{oaContacts},#{oaApproveDate},#{oaApplicationUrl},#{remarks},#{app_created},#{app_create_by})
    </insert>
    <!-- 修改商品OA申请单  -->
    <update id="updateOaApplication" parameterType="hashmap">
		UPDATE	
				oa_application	
		   SET	
		   		application_type=#{applicationType},
		   		application_status=#{applicationStatus},
		   		oa_application_code=#{oaApplicationCode},
		   		oa_contacts=#{oaContacts},
		   		oa_approve_date=#{oaApproveDate},
		   		application_link=#{applicationLink},
		   		remarks=#{remarks},
		   		application_status_date=#{applicationStatusDate}		   		
		 WHERE	
		 		APPLICATION_CODE=#{applicationCode}
    </update>
      <!-- 撤销允许OA同步 -->
     <update id="updateOaApplicationForUndo" parameterType="hashmap">
		UPDATE	
				oa_application	
		   SET	
		   		application_status=#{applicationStatus}
		 WHERE	
		 		APPLICATION_CODE=#{applicationCode}
		 		AND application_status='YX'
    </update>
     <!-- 允许OA同步 -->
    <update id="updateOaApplicationForAllow" parameterType="hashmap">
		UPDATE	
				oa_application	
		   SET	
		   		application_status=#{applicationStatus}
		 WHERE	
		 		APPLICATION_CODE=#{applicationCode}
		 		AND application_status='CG'
    </update>
    <!-- 删除商品OA申请单 -->
    <delete id="deleteOaApplication" parameterType="hashmap">
        DELETE FROM 
        			oa_application 
        WHERE 
        			APPLICATION_CODE=#{applicationCode} <!--AND client_id=#{app_user_clientID}-->
    </delete>
</mapper>